.viewButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.item {
  margin: 1rem 1rem;
}
